{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-10 offset-1">
            <h2 class="mt-5">Manufacture</h2>
            <div class="ml-3 mr-3 pl-2 pr-2 pt-2 mb-5">
                <img src="https://cdn.pixabay.com/photo/2018/03/31/12/23/hand-3278027_960_720.jpg" alt="manufacture"
                    height="auto" width="100%">
                <h5 class="mt-4">
                    Our goods are hand crafted to the highest standard. We strive to create quality items for every
                    budget. We use a large range of raw materials, particularly gems. This makes our jewellery pieces
                    stand out from the crowd, they are so different from pieces bought from well-known, larger
                    companies.
                </h5>
                <h4>
                    We hope you enjoy your purchases from us!
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}