{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-10 offset-1">
            <h2 class="mt-5">Returns & Refunds</h2>
            <div class="ml-3 mr-3 pl-2 pr-2 pt-2 mb-5">
                <p>
                    Thanks for purchasing our products at Obelisk Jewellery operated by Obelisk Ltd.
                </p>
                <p>
                    In order to be eligible for a refund, you have to return the product within 30 calendar days of your
                    purchase. The product must be in the same condition that you receive it and undamaged in any way.
                </p>
                <p>
                    After we receive your item, we will inspect it and process your refund. The money will be refunded
                    to the original payment method you've used during the purchase. For credit card payments it may take
                    5 to 10 business days for a refund to show up on your credit card statement.
                </p>
                <p>
                    If the product is damaged in any way, or you have initiated the return after 30 calendar days have
                    passed, you will not be eligible for a refund.
                </p>
                <p>
                    If anything is unclear or you have more questions feel free to contact our customer support team.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}