{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-10 offset-1">
            <h2 class="mt-5">Returns & Refunds</h2>
            <div class="ml-3 mr-3 pl-2 pr-2 pt-2 mb-5">
                {% for refund in refunds %}
                <p>
                    {{ refund.refund }}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if request.user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="text-dark text-uppercase">Change refunds in admin panel 'Home'</a>
        {% endif %}
</div>
{% endblock %}