#ring-table {
    color: black;
}

#ring-table-mobile {
margin: auto;
}

@media only screen and (max-width: 768px) {
#ring-table {
    margin: auto;
    color: black;
}
}

@media only screen and (min-width:601px) {
#ring-table-mobile {
    display: none;
}
}

@media only screen and (max-width: 600px) {
#ring-table {
    display: none;
}
}

.tab-padding {
text-align: center;
border: solid black 1px;
padding-left: 10px;
padding-right: 10px;

}